<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>BAd</title>
    <meta name="description"/>
    <meta property="og:title"/>
    <meta property="og:description"/>
    <meta content="website" property="og:type"/>
    <meta content="http://games.bryanbibat.net/bad/" property="og:url"/>
    <meta content="<%= image_path("opengraph.png") %>" property="og:image"/>
    <meta content="200" property="og:image:width"/>
    <meta content="200" property="og:image:height"/>
    <link href="./favicon.ico" rel="shortcut icon">
    <link href="<%= stylesheet_path("app") %>" rel="stylesheet" type="text/css">
  </head>
  <body>

    <script src="<%= javascript_path("app") %>" type="text/javascript"></script>
    <% if ENV['RACK_ENV'] == 'production' %>
      <!-- Piwik -->
      <script>
        
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.bryanbibat.net/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', 12]);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
          g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();

      </script>
      <noscript>
        <p>
          <img src="http://analytics.bryanbibat.net/piwik.php?idsite=12" style="border:0;"/>
        </p>
      </noscript>
      <!-- End Piwik Code -->
    <% end %>
  </body>
</html>
