!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title BAd
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :property => "og:title"}/
    %meta{:content => "", :property => "og:description"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "http://games.bryanbibat.net/bad/", :property => "og:url"}/
    %meta{:content => image_path("opengraph.png"), :property => "og:image"}/
    %meta{:content => "200", :property => "og:image:width"}/
    %meta{:content => "200", :property => "og:image:height"}/
    %link{:href => "./favicon.ico", :rel => "shortcut icon"}/
    %link{:href => stylesheet_path("app"), :rel => "stylesheet", :type => "text/css"}/
  %body
    .container.main-container
      .row
        .col-sm-12
          %h1#screen-title Quest - Sewers
      .row
        .col-sm-6.col-sm-offset-3
          .row
            .col-xs-6
              #player-card.bordered.full-hand
                %p.text-center
                  Soldier - 
                  lvl 
                  %span.card-value.spades
                    3&spades;
                .progress
                  .progress-bar.progress-bar-success{ style: "width: 100%" } 20
            .col-xs-6
              .bordered.enemy
                %p.text-center
                  Slime - 
                  lvl 
                  %span.card-value.spades
                    2&spades;
                .progress
                  .progress-bar.progress-bar-success{ style: "width: 17%" } 2
          .row.flop
            .col-sm-12
              .bordered
                %p.text-center
                  %button.btn.btn-default.enemy{ :type => "button", :"data-toggle" => "modal", :"data-target" => "#enemy-modal" }
                    %span.card-value.spades
                      1&spades;
                  %button.btn.btn-default{ type: "button" } 
                    %span.card-value.hearts
                      2&hearts;
                  %button.btn.btn-default{ :type => "button", :"data-toggle" => "modal", :"data-target" => "#card-modal" }
                    %span.card-value.clubs
                      1&clubs;
                %p.text-center
                  %button.btn.btn-info{ type: "button" } 0
                  %button.btn.btn-warning{ type: "button" } 0
                  &nbsp;
                  &nbsp;
                  %button.btn.btn-info{ type: "button" } 3
                  %button.btn.btn-warning{ type: "button" } 6
          .row
            .col-sm-12
              #message-log.bordered.message
                %p
                  Soldier drew: 
                  Herbs - 
                  %span.card-value.clubs
                    1&clubs;
                  \...
          .row
            .col-sm-12
              .bordered
                %p.text-center.actions
                  %button.btn.btn-danger.btn-lg{ type: "button" } Escape
                  %button.btn.btn-default.btn-lg{ type: "button" } Inventory
                  %button.btn.btn-info.btn-lg{ type: "button" } Use Skill
                  %button.btn.btn-primary.btn-lg{ type: "button" } Draw
                  %button.btn.btn-warning.btn-lg{ type: "button" } Attack

      #enemy-modal.modal.fade{ :tabindex => "-1", :role => "dialog", :"aria-hidden" => true }
        .modal-dialog
          .modal-content
            .modal-header
              Slime - lvl
              %span.card-value.spades
                1&spades;
            .modal-body
              %p 6 HP - 3 ATK - 0 DEF
              %p You gained 5 XP and 10 gold for killing this enemy

      #card-modal.modal.fade{ :tabindex => "-1", :role => "dialog", :"aria-hidden" => true }
        .modal-dialog
          .modal-content
            .modal-header
              Herbs - 
              %span.card-value.clubs
                1&clubs;
            .modal-body
              Gain 5 health

      #player-modal.modal.fade{ :tabindex => "-1", :role => "dialog", :"aria-hidden" => true }
        .modal-dialog
          .modal-content
            .modal-header
              Soldier - 
              lvl 
              %span.card-value.spades
                3&spades;
            .modal-body
              %p 20 HP - 3 SP - 6 ATK - 2 DEF
              %p 
                %strong 2 Pair Hand Bonus!
                %br
                +50% ATK
              %p
                %em Basic warrior class. High base attack and defense, skills improve both.

      #message-log-modal.modal.fade{ :tabindex => "-1", :role => "dialog", :"aria-hidden" => true }
        .modal-dialog
          .modal-content
            .modal-header
              Message Log
            .modal-body
              %p
                You drew a Monster Encounter: 
                %br
                Slime - lvl
                %span.card-value.spades
                  1&spades;
              %p
                Soldier attacked Slime for 6 damage. Slime died. 
                You gained 5 XP and 10 gold.

              %p
                You drew a Monster Encounter: 
                %br
                Slime - lvl
                %span.card-value.spades
                  2&spades;
              %p
                Soldier attacked Slime for 5 damage. 
                Slime attacked Soldier for 3 damage. 

              %p
                Soldier attacked Slime for 5 damage. 
                Slime attacked Soldier for 3 damage.

              %p
                Soldier drew: 
                Salve - lvl
                %span.card-value.hearts
                  2&hearts;
                %br
                Soldier gained 10 HP.
                %br
                %strong 1 Pair Bonus!
                %br
                +10% ATK

              %p
                Soldier drew: 
                Herbs - 
                %span.card-value.clubs
                  1&clubs;
                %br
                Herbs have no effect at full HP.
                %br
                %strong 2 Pair Hand Bonus!
                %br
                +50% ATK
    %footer
      .container
        %p
          &copy; 2014 - 2015
          %a{ :href => "http://bryanbibat.net" } Bryan Bibat

    %script{:type => "text/javascript", :src => javascript_path("app")}
    :javascript
      $('#player-card').click(function () {
        $('#player-modal').modal();
      });
      $('#message-log').click(function () {
        $('#message-log-modal').modal();
      });

    - if ENV['RACK_ENV'] == 'production'
      / Piwik
      :javascript
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.bryanbibat.net/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', 12]);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
          g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      %noscript
        %p
          %img{:alt => "", :src => "http://analytics.bryanbibat.net/piwik.php?idsite=12", :style => "border:0;"}/
      / End Piwik Code

