@import "bootstrap";

@font-face {
font-family:"RPG Icons";
  src:
    font-url("rpg-icons.eot?") format("eot"),
    font-url("rpg-icons.woff") format("woff"),
    font-url("rpg-icons.ttf") format("truetype"),
    font-url("rpg-icons.svg#rpg-icons") format("svg");
  font-weight:normal;
  font-style:normal;
}

body {
}

.jumbotron {
  margin-top: 10px;
  text-align: center;
}

.card-value {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Arial Unicode MS', 'Droid Sans Fallback', sans-serif;
  font-weight: bold;
}

.clubs {
  color: green;
}

.hearts {
  color: red;
}

.spades {
  color: black;
}

.diamonds {
  color: blue;
}

.bordered {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px 6px 0px 6px;
  margin-bottom: 6px;
  .actions {
    .btn {
      margin: 5px 0;
      line-height: 30px;
    }
  }
}

.bordered.full-hand {
  border: 2px solid lightblue;
}

.enemy {
  border: 1px solid #fbb;
}

.message {
  background: #eee;
}

.progress {
  margin-bottom: 10px;
}

.rpgicon {
  font-family: "RPG Icons";
}

.rpgicon-hp:before {
  content: "\e1d8";
}

footer, .footer {
  margin-top: 50px;
  color: #aaa;
  text-align: center;
  a {
    color: #87BEE0;
  }
}
