@import "bootstrap";

.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px 10px 0px 10px;
}

.flop {
  margin-top: 10px;
}

footer, .footer {
  margin-top: 50px;
  color: #aaa;
  text-align: center;
  a {
    color: #87BEE0;
  }
}
