@import "bootstrap";

.bordered {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px 6px 0px 6px;
  margin-bottom: 6px;
  .actions {
    .btn {
      margin: 10px 0 5px;
      line-height: 30px;
    }
  }
}

.message {
  background: #eee;
}

footer, .footer {
  margin-top: 50px;
  color: #aaa;
  text-align: center;
  a {
    color: #87BEE0;
  }
}
